body{
    background-image: url("../images/background.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 1100px ;
}

#aaaaac{
    background-color: aqua;
    border-style: dotted;
}
